<div class = "container">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="userEmail">
        <input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="userPassword">
        <button (click)="authorise(this.userEmail, this.userPassword)">Login</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Need help?</label>
        <a [routerLink] = "['test']">Recover Password</a>
        <a [routerLink] = "['test']">Rent a dormitory</a>
        <a [routerLink] = "['test']">For parents</a>

      </form>
    </div>
  </div>
</div>
