.container{
  font-family: monospace;
  background-color: transparent;

}
header{
  margin: 10px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
header h2{
  margin: 15px 20px;
}

.auth a{
  font-weight: 600;
  font-size: 1rem;
}
.auth{
  display: flex;
  justify-content: right;
  margin: 5px 10px;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
.notification{
  width:100%;
  margin: 10px 20px
}
.asd{
  display: flex;
  justify-content: center;
}
.home_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:80%;
}
.body{
  width: 50%;
  align-items: start;
}
.body h4{
  margin: 5px 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two columns */
  grid-template-rows: 1fr; /* one row */
}
