.auth{
  display: flex;
  justify-content: right;
  margin: 5px 10px;
}

.notification{
  width:100%;
  margin: 10px 20px
}
.asd{
  display: flex;
  justify-content: center;
}
.home_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:80%;
}
.body{
  width: 50%;
  align-items: start;
}
.body h4{
  margin: 5px 0;
}
.body h4:hover{
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two columns */
  grid-template-rows: 1fr; /* one row */
}
